
%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, layout: :horizontal, html: { id: 'payment-form' }, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f|
        %header
          %h1 Register
        %fieldset
          = f.email_field :email, label: 'Email Address'
          = f.password_field :password
          = f.text_field :full_name, label: 'Full Name'
          = hidden_field_tag :invitation_token, @invitation_token
        %fieldset.credit_card.control-group.col-sm-offset-2
          .form-row
            %label.control-label.col-sm-2(for="card-element")
            %div#card-element
            #card-errors(role="alert")
          %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %hr
            %input(type="submit" value="Sign Up" class="btn btn-default")
            = javascript_include_tag "payment_form"
              
            -# %script(class="stripe-button" data-name="charge" data-amount="999" data-description="A month's subscription" data-key="pk_test_X4ApMuvYMkx915jNrII63KsP" data-locale="auto" src="https://checkout.stripe.com/checkout.js")
